@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta+Vaani&family=Poppins:wght@300;400;500;600&family=Raleway:wght@100&display=swap');
:root {
    color-scheme: light dark;
}
.container{
    display: flex;
    gap: 5px;
}
.preloader {
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    
}
.main {
    flex: 0.5;
    flex-direction: column;
    display: flex;
    box-sizing: border-box;
}
h1 {
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    color: #BC0E0E;
}
img {
    width: 65px;
    height: 65px;
    margin-left: 0px;
}
.Home {
    background-color: #262626;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    border-radius: 20px;
    justify-content: center;
}
li {
    list-style-type: none;
    padding: 10px;
    font-size: 20px; 
    font-weight: 500;  
    font-family: 'Poppins', sans-serif;
}
.Home li a{
    color:white
}
.Home li a:hover{
    color: #BC0E0E;
    background-color: #ffffff; 
    border-radius: 25px;
    padding: 5px;

}
.Home-img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 25px;
    justify-content: center;
}
.Home-img img {
    width: 25px;
    height: 25px;
    align-items: left;
}
.Search-img{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 25px;
    justify-content: center;
}
.Search-img img {
    width: 25px;
    height: 25px;
    align-content: left;
}
.library {
    background-color: #262626;
    width: auto;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    border-radius: 20px;
    justify-content: center;
}
.library-img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 100%;
    justify-content: center;
    margin-top: 10px;
}
.library-img img {
    width: auto;
    height: 35px;
    border-radius: 70%;
    align-content: left;
}   
.library-img li a {
    font-family: 'Mukta+Vaani', sans-serif;
    font-size: 35px;
    color: #ffffff;
    font-weight: 100;
    align-items: right;
    margin-left: 10px;
}
.library-img li a:hover {
    color: #BC0E0E;
}
.Artist li{
    color:white;
    cursor: pointer;
    border-radius: 25px;
    background-color: #444343; 
    width: 40px;
    margin-left: 10px;
    padding: 5px;
    justify-content: center;
    font-size: small;
}
.Artist li:hover{
    color: #BC0E0E;
}
.Album{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    justify-content: left;
    display:none;
}
.Album1{
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    margin-left: 5px;
    justify-content: left;
    cursor: pointer;
}
.Album1:hover{
    background-color: #2F2929;
    border-radius: 20px;
}
.Album1 img{
    border-radius: 50px;
    width: 45px;
    height: 45px;
}
.Album1 h3{
    color:white;
    font-family: 'Poppins', sans-serif;
    border-radius: 25px;
    padding: 5px;
    font-size: 15px
}
.Album2{
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    margin-left: 5px;
    justify-content: left;
    cursor: pointer;
}
.Album2:hover{
    background-color: #2F2929;
    border-radius: 20px;
}
.Album2 img{
    border-radius: 50px;
    width: 45px;
    height: 45px;
}
.Album2 h3{
    color:white;
    font-family: 'Poppins', sans-serif;
    border-radius: 25px;
    padding: 5px;
    font-size: 15px
}
.Album3{
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    margin-left: 5px;
    justify-content: left;
    cursor: pointer;
}
.Album3:hover{
    background-color: #2F2929;
    border-radius: 20px;
}
.Album3 img{
    border-radius: 50px;
    width: 45px;
    height: 45px;
}
.Album3 h3{
    color:white;
    font-family: 'Poppins', sans-serif;
    border-radius: 25px;
    padding: 5px;
    font-size: 15px
}
.Album4{
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    margin-left: 5px;
    justify-content: left;
    cursor: pointer;
}
.Album4:hover{
    background-color: #2F2929;
    border-radius: 20px;
}
.Album4 img{
    border-radius: 50px;
    width: 45px;
    height: 45px;
}
.Album4 h3{
    color:white;
    font-family: 'Poppins', sans-serif;
    border-radius: 25px;
    padding: 5px;
    font-size: 15px
}
.body{
    margin-top: 0px;
    width: 90%;
    padding: 10px;
    background-color: #262626;
    flex: 2;
    display: flex;
    border-radius: 20px;
}
.bottom {
    overflow: hidden;
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: rgb(44, 44, 44);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.searchbar{
    margin-left: 100px;
    position: relative;
}
#search-bar{
    padding: 10px;
    width: 90%;
    border-radius: 20px;
    border-color: #ffffff;
    font-size: large;
}

.songAlbum{
    flex-basis: 20vw;
    padding: 20px;
}
.songAlbum img {
    width: fit-content;
    height: fit-content;
    margin-top: 20px;
}
#albumTitle {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
}
#Title{
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
}
.songImage img {
    width: 100%;
    margin-top: 20px;
}
.Songlist {
    flex-basis: 38vw;
    padding: 20px;
    padding-bottom: 10px;
    font-size: 1.6rem;
    font-weight: 600;
}
.songContainer {
    margin-top: 20px;
}
.songItem {
    font-weight: 500;
    height: 40px;
    display: flex;
    background-color: white;
    color: black;
    border-radius: 30px;
    margin-bottom: 12px;
    margin-right: 10px;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}
.songItem img {
    width: 30px;
    height: 30px;
    margin: 0 23px;
    border-radius: 30px;
}
.songName {
    flex-grow: 1;
}
.fa-solid, .fas {
    font-weight: 900;
}