@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta+Vaani&family=Poppins:wght@300;400;500;600&family=Raleway:wght@100&display=swap');
:root {
    color-scheme: light dark;
}
.container{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
.preloader {
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    
}
.main {
    flex: 0.5;
}
h1 {
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    color: #BC0E0E;
}
img {
    width: 65px;
    height: 65px;
    margin-left: 0px;
}
.Home {
    background-color: #262626;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    border-radius: 20px;
    justify-content: center;
}
li {
    list-style-type: none;
    padding: 10px;
    font-size: 20px;   
    font-family: 'Poppins', sans-serif;
}
.Home li a{
    color:white
}
.Home li a:hover{
    color: #BC0E0E;
    background-color: #ffffff; 
    border-radius: 25px;
    padding: 5px;

}
.Home-img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 25px;
    justify-content: center;
}
.Home-img img {
    width: 25px;
    height: 25px;
    align-items: left;
}
.Search-img{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 25px;
    justify-content: center;
}
.Search-img img {
    width: 25px;
    height: 25px;
    align-content: left;
}
.library {
    background-color: #262626;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 10px;
    border-radius: 20px;
    justify-content: center;
}
.library-img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 100%;
    justify-content: center;
    margin-top: 10px;
}
.library-img img {
    width: auto;
    height: 35px;
    border-radius: 70%;
    align-content: left;
}   
.library-img li a {
    font-family: 'Mukta+Vaani', sans-serif;
    font-size: 35px;
    color: #ffffff;
    font-weight: 100;
    align-items: right;
    margin-left: 10px;
}
.library-img li a:hover {
    color: #BC0E0E;
}
.Artist li a{
    color:white;
    border-radius: 25px;
    background-color: #444343; 
    padding: 5px;
    font-size: small
}
.Artist li a:hover{
    color: #BC0E0E;
    padding: 5px;
}
.body{
    background-color: #262626;
    display: flex;
    flex: 2.5;
    padding: 10px;
    flex-direction: column;
    align-items: left;
    border-radius: 20px;
    justify-content: center;
    box-sizing: border-box;
}
#greeting{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: #BC0E0E;
    font-weight: 700;
}
.songlist1{
    display: flex;
    align-items: flex-start;
    gap: 15px;
}
.song-img1 {
    width: fit-content;
    height: fit-content;
    display: grid;
    align-items: center;
    background-color: #444343;
    border-radius: 20px;
    justify-content: center;
    margin-top: 10px;
    padding-inline: 10px;
}
.song-img1:hover{
    background-color: #4E3939;
}
.song-img1 img {
    width: fit-content;
    height: fit-content;
    margin-top: 10px;
    border-radius: 20px;
    position: relative;
}
.song-img1 h3{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #ffffff;
    font-weight: 700;
    position: relative;
}
.song-img2 {
    width: fit-content;
    height: fit-content;
    display: grid;
    align-items: center;
    background-color: #444343;
    border-radius: 20px;
    justify-content: center;
    margin-top: 10px;
    padding-inline: 10px;
}
.song-img2:hover{
    background-color: #4E3939;
}
.song-img2 img {
    width: fit-content;
    height: fit-content;
    margin-top: 10px;
    border-radius: 20px;
    position: relative;
}
.song-img2 h3{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #ffffff;
    font-weight: 700;
    position: relative;
}
.song-img3 {
    width: fit-content;
    height: fit-content;
    display: grid;
    align-items: center;
    background-color: #444343;
    border-radius: 20px;
    justify-content: center;
    margin-top: 10px;
    padding-inline: 10px;
}
.song-img3:hover{
    background-color: #4E3939;
}
.song-img3 img {
    width: fit-content;
    height: fit-content;
    margin-top: 10px;
    border-radius: 20px;
    position: relative;
}
.song-img3 h3{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #ffffff;
    font-weight: 700;
    position: relative;
}
.song-img4 {
    width: fit-content;
    height: fit-content;
    display: grid;
    align-items: center;
    background-color: #444343;
    border-radius: 20px;
    justify-content: center;
    margin-top: 10px;
    padding-inline: 10px;
}
.song-img4:hover{
    background-color: #4E3939;
}
.song-img4 img {
    width: fit-content;
    height: fit-content;
    margin-top: 10px;
    border-radius: 20px;
    position: relative;
}
.song-img4 h3{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #ffffff;
    font-weight: 700;
    position: relative;
}
.song-img5 {
    width: fit-content;
    height: fit-content;
    display: grid;
    align-items: center;
    background-color: #444343;
    border-radius: 20px;
    justify-content: center;
    margin-top: 10px;
    padding-inline: 10px;
}
.song-img5:hover{
    background-color: #4E3939;
}
.song-img5 img {
    width: fit-content;
    height: fit-content;
    margin-top: 10px;
    border-radius: 20px;
    position: relative;
}
.song-img5 h3{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #ffffff;
    font-weight: 700;
    position: relative;
}
